* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 62.5%; */
    background-image: url(./assest/img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
}

.container h2 {
    font-size: xx-large;
    margin-bottom: 00.5rem;
}

.container p {
    font-size: large;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.green-color {
    margin-top: 7px;
    color: green;
    font-weight: 600;
}

.form {
    width: 80%;
    margin: auto;
    margin-top: 00.5rem;
}

.manage-form input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
}

.manage-form textarea {
    width: 100%;
    padding: 0.7rem;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
}

.manage-form .btn {
    /* width: 100%; */
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    background-color: green;
    color: white;
    border: 2px solid white;
    margin-top: 0.5rem;
}